@import 'theme/reset';
@import 'theme/fonts';
@import 'theme/variables';


body {
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    font-family: $robotoRegular, Arial, Helvetica, sans-serif;
}

.button {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
}
.button__label {
    font-family: $sgBold;
    font-size: 16px;
    margin-right: 25px;
    color: #ffffff;
}
.button__icon {
    height: 10px;
    fill: #ffffff;
}
// RANGE
.irs--big{
    width: 210px;
}
.irs--big .irs-handle{
    width: 2px;
    height: 30px;
    background: #000000!important;
    border: none;
    box-shadow: none;
    border-radius: 0!important;
    cursor: pointer;
}
.irs--big .irs-bar{
    border:none;
    box-shadow: none;
    background:  #000000;
    border-radius: 0!important;
}
.irs--big .irs-line{
    background: transparent;
    border-radius: 0!important;
    border: none;
}
.irs--big .irs-grid-pol.small{
    height: 10px;
}
.irs-grid-text{
    display: none;
}
.irs-grid{
    left:0!important;
}
.irs--big .irs-single{
    background: transparent;
    position: relative;
    color: transparent!important;
    width: 15px;
    height: 15px;
    top:10px;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        border: 7px solid transparent;
        border-top: 7px solid #000000;
    }
}
.irs-max, .irs-min{
    display: none;
}
.irs--big .irs-grid-pol{
    width: 2px;
    height: 20px;
    background-color:  #000000;
}
// MODE 
.dark-mode {
    background-color: #000000!important;
    .author-technology {
        background-color: #ffffff;
        &__text {
            color: #000000!important;
        }
    }
    .irs--big .irs-single {
        &:before{
            border-top-color: #ffffff!important;
        }

    }
    .irs--big .irs-grid-pol {
        background-color: #ffffff!important;
    }
    .irs--big .irs-handle, 
    .irs--big .irs-bar {
        background-color: #ffffff!important;
    }
    .marquee {
        border-top-color: #ffffff;
        border-bottom-color:  #ffffff;
    }
    .description-schema-image {
        filter: invert(1);
    }
    .description-whom-item {
        border-top-color: #ffffff;
    }
    * {
        color: #ffffff!important;
        fill: #ffffff!important;
        border-color: #ffffff;
    }
}

.light-mode {
    background-color: #ffffff!important;
    * {
        color: #000000!important;
        fill: #000000!important;
        border-color: #000000;
    }
}
// TEXT BLOCK
.text {
    font-family: $sgBold;
    font-size: 36px;
    color: #000000;
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}
.text__title {
    display: inline-block;
    font-family: $robotoBold;
    font-size: 14px;
    width: 50%;
    transform: translateY(-5px);
}
.text__underline {
    text-decoration: underline;
}
.text__little {
    font-size: 16px;
    font-family: $robotoBold;
}
// HEADER NAVIGATION
.header-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
    transform: translateY(-100%);
    transition: transform .35s ease-in;
}
.navigation-logo {
    color: #000000;
    font-family: $robotoBold;
    font-size: 12px;
    span {
        display: block;
        font-family: $sgBold;
        font-size: 26px;
    }
}
.navigation-mode-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.navigation-mode-button__icon {
    height: 100%;
}
// HEADER
.header {
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 101;
    overflow: hidden;
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.skr4t-information {
    text-align: center;
}
.skr4t-information__title {
    color: #ffffff;
    font-family: $robotoBold;
    font-size: 18px;
}
.skr4t-information__subtitle {
    color: #ffffff;
    font-family: $sgBold;
    font-size: 135px;
    line-height: 1;
}
.skr4t-start {
    position: absolute;
    right: 0;
    bottom: 60px;
    opacity: 0;
    transition: opacity .75s ease-in;
}
.skr4t-start__text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
// MAIN
.main {
    position: fixed;
    height: 0;
    overflow: hidden;
    background: linear-gradient(211.1deg, #5D24D5 0%, #2F17C0 100%);
}
.information {
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.information-check {
    color: #000000;
    position: absolute;
    right: 75px;
    bottom: 60px;
    line-height: 1.5;
}
.author-technology {
    width: 60px;
    height: 290px;
    color: #ffffff;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    svg {
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%) rotate(90deg);
        height: 15px;
        fill: #000000;
    }
}
.author-technology__text {
    font-family: $robotoBold;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 290px;
    text-align: center;
    color: #ffffff;
}
// READING SPEED
.reading-speed {
    padding-top: 175px;
    padding-bottom: 100px;
    position: relative;
    background-color: #ffffff;
}
.reading-speed__label {
    margin-bottom: 90px;
}
.marquee {
    width: 100%;
    height: 200px;
    border-top: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    &.active {
        .marquee__text {
            color: #000000;
        }
        .marquee__wrapper {
            margin-left: 0;
        }
    }
}
.marquee__wrapper {
    margin-left: 50.5%;
}

.marquee__text{
    font-family: $sgBold;
    font-size: 60px;
    color: #bfbfbf;
    white-space: nowrap;
}
.reading-speed-navigation {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 60px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.range-wrapper {
    text-align: center;
}
.range-wrapper__value {
    opacity: 0;
    margin-top: 25px;
    font-family: $interMedium;
    font-size: 12px;
}
.reading-speed__number {
    font-size: 18px;
    opacity: 0;
}
.reading-speed__stop {
    opacity: 0;
    font-family: $sgBold;
    font-size: 16px;
    span {
        text-decoration: underline;
        cursor: pointer;
    }
}
// DESCRIPTION
.description {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    .text {
        margin-bottom: 75px;
    }
}
.description-schema {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.description-schema-image {
    margin-right: 150px;
    height: 265px;
}
.description-schema-text__details {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 1.5;
    svg {
        height: 80px;
        float: left;
        margin-right: 10px;
        transform: translateY(8px);
    }
}
.description-schema-text__quotes {
    font-family: $robotoBold;
    line-height: 1.35;
    font-size: 18px;
}
.description-whom {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto; 
}
.description-whom__title {
    font-family: $sgBold;
    margin-bottom: 75px;
    font-size: 35px;
}
.description-whom-list {
    margin-bottom: 240px;
}
.description-whom-item {
    border-top: 3px solid #000000;
    padding-top: 12px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &:last-child{
        padding-bottom: 0;
    }
}
.description-whom-item__label {
    font-size: 26px;
    font-family: $sgBold;
    width:50%;
}
.description-whom-item__text {
    font-size: 18px;
    width: 50%;
    line-height: 1.35;
}
// TEACHER
.author {
    .text {
        color: #ffffff;
        margin-bottom: 75px;
    }
    .text__little {
        font-family: $sgBold;
    }
}
.author__title {
    font-size: 115px;
    text-align: center;
    font-family: $sgBold;
    background: linear-gradient(227.79deg, #2F17C0 14.5%, #5D24D5 85.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 75px;
}
.author-wrapper {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.author-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}
.author-description__photo {
    height: 700px;
}
.author-description-wrapper {
    width: 515px;
    color: #ffffff;
    transform: translateY(-10px);
}
.author-description-wrapper__name {
    font-family: $sgBold;
    font-size: 36px;
    margin-bottom: 40px;
}
.author-description-wrapper__text {
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 1.35;
    &:last-child {
        margin-bottom: 70px;
    }
}
.author-description-wrapper__background {
    font-size: 36px;
    font-family: $robotoBold;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    span {
        display: block;
        font-size: 18px;
    }
}
.video {
    max-width: 1048px;
    width: 100%;
    height: 550px;
    background-color: #C9C9C9;
}
// AFTER
.after {
    margin-bottom: 90px;
}
.after__title {
    color: #ffffff;
    font-family: $sgBold;
    font-size: 115px;
    text-align: center;
    line-height: 1;
    margin-bottom: 75px;
}
.swiper-1 {
    width: 100%;
    height: 900px;
    .swiper-slide {
        width: 85%;
        position: relative;
        background-color: #000000;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(89.47deg, rgba(0, 0, 0, 0.6) 0.47%, rgba(0, 0, 0, 0) 99.57%);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    .swiper-button-prev{
        background-color: #ffffff;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        left: 40px;
        &.swiper-button-disabled {
            display: none;
        }
        &::after {
            font-family: none;
            color: transparent;
            height: 9px;
            width: 24px;
            background-image: url(../assets/images/swiper-arrow.svg);
            transform: scale(-1);
        }
    }
    .swiper-button-next{
        background-color: #ffffff;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        right: 40px;
        &.swiper-button-disabled {
            display: none;
        }
        &::after {
            font-family: none;
            color: transparent;
            height: 9px;
            width: 24px;
            background-image: url(../assets/images/swiper-arrow.svg);
        }
    }
}
.video-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.after-description {
    position: absolute;
    z-index: 2;
    padding-top: 10px;
    border-top: 2px solid #ffffff;
    max-width: 870px;
    width: 100%;
    right: 10vw;
    bottom: 5vw;
    .button {
        margin-top: 20px;
    }
}
.after-description__title {
    color: #ffffff;
    margin-bottom: 25px;
    font-family: $sgBold;
}
.after-description__item {
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #5D24D4;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}
// REGISTRATION
.registration {
    margin-bottom: 175px;
    .button{
        width: 100%;
        border: none;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        &.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
    .button__label {
        color: #2F17C0;
        margin: 0;
        font-size: 22px;
    }
    .button__icon {
        fill: #2F17C0;
    }
}
.registration__title{
    color: #ffffff;
    text-align: center;
    font-family: $sgBold;
    font-size: 100px;
}
.registration__subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: $robotoBold;
    margin-bottom: 100px;
}
.registration-form {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
}
.radio-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
}
input[type=radio]:checked ~ .checkmark {
  opacity: 1;
}

.custom-radio .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: $robotoBold;
    width: 166px;
    height: 60px;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 60px;
    cursor: pointer;
    opacity: .5;
}
// INPUT FIELD
.field {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}
.fix-label {
    .field__label{
        bottom: calc(100% + 10px);
        font-size: 14px;
    }
}
.field__label {
    color: #ffffff;
    font-size: 22px;
    font-family: $robotoBold;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: all .25s ease-in;
    z-index: 1;
}
.field__input {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    font-family: $robotoBold;
    font-size: 22px;
    position: relative;
    z-index: 2!important;
    &::placeholder {
        color: #ffffff;
    }
}
input:focus + .field__label{
    bottom: calc(100% + 10px);
    font-size: 14px;
}
input:valid + .field__label{
    bottom: calc(100% + 10px);
    font-size: 14px;
}
input[type="tel"] {
    padding-left: 0!important;
    width: calc(100% - 45px);
    margin-left: 45px!important;
}
.valid {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #5D24D4;
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
// International Telephone Input
.iti.iti--allow-dropdown {
    width: 100%;
}
.iti__selected-flag {
    background: transparent!important;
    padding: 0;
}
.iti__arrow--up {
    border-bottom-color: #ffffff;
}
.iti__arrow {
    border-top-color: #ffffff;
}
.iti__country-list, .iti__flag-container {
    width: 100%;
}
.iti__flag {background-image: url("../assets/images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../assets/images/flags@2x.png");}
}
// FOOTER
.footer {
    padding: 60px 0 16px 0;
    border-top: 1px solid #ffffff;
    .button {
        border: none;
        padding-left: 0;
        &__label {
            font-size: 22px;
            margin-right: 15px;
        }
    }
}
.footer-wrapper {
    max-width: 695px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copyright {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding-top: 30px;
    line-height: 1.5;
}
@import 'theme/grid';
@import 'theme/media';