@import 'theme/reset';
@import 'theme/variables';

/* Import Fonst */
@font-face {
	font-family: "Roboto Regular";
	src: url("assets/fonts/Roboto/Regular/Roboto-Regular.ttf");
	src: url("assets/fonts/Roboto/Regular/Roboto-Regular.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto Bold";
	src: url("assets/fonts/Roboto/Bold/Roboto-Bold.ttf");
	src: url("assets/fonts/Roboto/Bold/Roboto-Bold.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Soyuz Grotesk Bold";
	src: url("assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff");
  	src: url("assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff")format("woff"),
         url("assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Inter Medium";
	src: url("assets/fonts/Inter/Medium/Inter-Medium.ttf");
	src: url("assets/fonts/Inter/Medium/Inter-Medium.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
    color: #000000;
    background-color: #ffffff;
    font-size: 18px;
    font-family: $robotoRegular, Arial, Helvetica, sans-serif;
}

.button {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
}
.button__label {
    font-family: $sgBold;
    font-size: 16px;
    margin-right: 25px;
    color: #ffffff;
}
.button__icon {
    height: 10px;
    fill: #ffffff;
}
// MODE 
.dark-mode {
    background-color: #000000!important;
    .author-technology {
        background-color: #ffffff;
        &__text {
            color: #000000!important;
        }
    }
    // .irs--big .irs-single {
    //     &:before{
    //         border-top-color: #ffffff!important;
    //     }

    // }
    // .irs--big .irs-grid-pol {
    //     background-color: #ffffff!important;
    // }
    // .irs--big .irs-handle, 
    // .irs--big .irs-bar {
    //     background-color: #ffffff!important;
    // }
    // .marquee {
    //     border-top-color: #ffffff;
    //     border-bottom-color:  #ffffff;
    // }
    .description-schema-image {
        filter: invert(1);
    }
    .description-whom-item {
        border-top-color: #ffffff;
    }
    * {
        color: #ffffff!important;
        fill: #ffffff!important;
        border-color: #ffffff;
    }
}

.light-mode {
    background-color: #ffffff!important;
    * {
        color: #000000!important;
        fill: #000000!important;
        border-color: #000000;
    }
}
// TEXT BLOCK
.text {
    font-family: $sgBold;
    font-size: 36px;
    color: #000000;
    width: 100%;
    margin: 0 auto;
}
.ttl{
    display: block;
    width: 100%;
}
.text__title {
    display: inline-block;
    font-family: $robotoBold;
    font-size: 14px;
    width: 50%;
    transform: translateY(-5px);
}
.text__underline {
    text-decoration: underline;
}
.text__little {
    font-size: 16px;
    font-family: $robotoBold;
}
// HEADER NAVIGATION
.header-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
    transform: translateY(-100%);
    transition: transform .35s ease-in;
}
.navigation-logo {
    color: #000000;
    font-family: $robotoBold;
    font-size: 12px;
    span {
        display: block;
        font-family: $sgBold;
        font-size: 26px;
    }
}
.navigation-mode-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
}
.navigation-mode-button__icon {
    height: 100%;
}
// HEADER
.header {
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 101;
    overflow: hidden;
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.skr4t-information {
    text-align: center;
}
.skr4t-information__title {
    color: #ffffff;
    font-family: $robotoBold;
    font-size: 18px;
}
.skr4t-information__subtitle {
    color: #ffffff;
    font-family: $sgBold;
    font-size: 135px;
    line-height: 1;
}
.skr4t-start {
    position: absolute;
    right: 0;
    bottom: 60px;
    opacity: 0;
    transition: opacity .75s ease-in;
}
.skr4t-start__text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
// MAIN
.main {
    position: fixed;
    height: 0;
    overflow: hidden;
    background: linear-gradient(211.1deg, #5D24D5 0%, #2F17C0 100%);
}
// DESCRIPTION
.description {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    .text {
        margin-bottom: 75px;
    }
}
.description-schema {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.description-schema-image {
    margin-right: 150px;
    height: 265px;
}
.description-schema-text__details {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 1.5;
    svg {
        height: 80px;
        float: left;
        margin-right: 10px;
        transform: translateY(8px);
    }
}
.description-schema-text__quotes {
    font-family: $robotoBold;
    line-height: 1.35;
    font-size: 18px;
}
.description-whom {
    width: 100%;
    margin: 0 auto; 
}
.description-whom__title {
    font-family: $robotoBold;
    margin-bottom: 75px;
    font-size: 35px;
}
.description-whom-item {
    border-top: 3px solid #000000;
    padding-top: 12px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    &:last-child{
        padding-bottom: 0;
    }
}
.description-whom-item__label {
    font-size: 26px;
    font-family: $sgBold;
    width:50%;
}
.description-whom-item__text {
    font-size: 18px;
    width: 50%;
    line-height: 1.35;
}
// TEACHER
.author {
    .text {
        color: #ffffff;
        margin-bottom: 75px;
    }
    .text__little {
        font-family: $sgBold;
    }
}
.author__title {
    font-size: 115px;
    text-align: center;
    font-family: $sgBold;
    background: linear-gradient(227.79deg, #2F17C0 14.5%, #5D24D5 85.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 75px;
}
.author-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.author-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}
.author-description__photo {
    height: 700px;
}
.author-description-wrapper {
    width: 515px;
    color: #ffffff;
    transform: translateY(-10px);
}
.author-description-wrapper__name {
    font-family: $robotoBold;
    font-size: 36px;
    margin-bottom: 40px;
}
.author-description-wrapper__text {
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 1.35;
    &:last-child {
        margin-bottom: 70px;
    }
}
.author-description-wrapper__background {
    font-size: 36px;
    font-family: $robotoBold;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    span {
        display: block;
        font-size: 18px;
    }
}
.video {
    width: 100%;
    height: 550px;
    background-color: #C9C9C9;
}
// AFTER
.after {
    margin-bottom: 90px;
}
.after__title {
    color: #ffffff;
    font-family: $sgBold;
    font-size: 115px;
    text-align: center;
    line-height: 1;
    margin-bottom: 75px;
}
// SWIPER VIDEO
.swiper-1 {
    width: 100%;
    max-height: 900px;
    .swiper-slide {
        width: 100%;
        position: relative;
        background-color: #000000;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding-right: 127px;
        padding-bottom: 5vw;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(89.47deg, rgba(0, 0, 0, 1) 0.47%, rgba(0, 0, 0, .5) 99.57%);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    .swiper-button-prev{
        background-color: #ffffff;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        left: 40px;
        &.swiper-button-disabled {
            display: none;
        }
        &::after {
            font-family: none;
            color: transparent;
            height: 9px;
            width: 24px;
            background-image: url(../assets/images/swiper-arrow.svg);
            transform: scale(-1);
        }
    }
    .swiper-button-next{
        background-color: #ffffff;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        right: 40px;
        &.swiper-button-disabled {
            display: none;
        }
        &::after {
            font-family: none;
            color: transparent;
            height: 9px;
            width: 24px;
            background-image: url(../assets/images/swiper-arrow.svg);
        }
    }
}
.video-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.after-description {
    position: relative;
    z-index: 2;
    padding-top: 10px;
    border-top: 2px solid #ffffff;
    max-width: 870px;
    width: 100%;
    .button {
        margin-top: 20px;
    }
}
.after-description__title {
    color: #ffffff;
    margin-bottom: 25px;
    font-family: $sgBold;
}
.after-description__item {
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
    &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #5D24D4;
        position: absolute;
        left: 0;
        top: 7px;
        transform: rotate(45deg);
    }
}
// REGISTRATION
.registration {
    margin-bottom: 175px;
    .button{
        width: 100%;
        border: none;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        &.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
    .button__label {
        color: #2F17C0;
        margin: 0;
        font-size: 22px;
    }
    .button__icon {
        fill: #2F17C0;
    }
}
.registration__title{
    color: #ffffff;
    text-align: center;
    font-family: $sgBold;
    font-size: 100px;
}
.registration__subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: $robotoBold;
    margin-bottom: 100px;
}
.registration-form {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
}
.radio-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
// input[type=radio] {
//     position: absolute;
//     visibility: hidden;
// }
// input[type=radio]:checked ~ .checkmark {
//   opacity: 1;
// }

// .custom-radio .checkmark {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #ffffff;
//     font-family: $robotoBold;
//     width: 166px;
//     height: 60px;
//     font-size: 18px;
//     border: 2px solid #ffffff;
//     border-radius: 60px;
//     cursor: pointer;
//     opacity: .5;
// }
// INPUT FIELD
.field {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
}
.fix-label {
    .field__label{
        bottom: calc(100% + 10px);
        font-size: 14px;
    }
}
.field__label {
    color: #ffffff;
    font-size: 22px;
    font-family: $robotoBold;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: all .25s ease-in;
    z-index: 1;
}
.field__input {
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    font-family: $robotoBold;
    font-size: 22px;
    position: relative;
    z-index: 2!important;
    &::placeholder {
        color: #ffffff;
    }
}

input:focus + .field__label{
    bottom: calc(100% + 10px);
    font-size: 14px;
}
input:valid + .field__label{
    bottom: calc(100% + 10px);
    font-size: 14px;
}
input[type="tel"] {
    padding-left: 0!important;
    width: calc(100% - 45px);
    margin-left: 45px!important;
}
.valid {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #5D24D4;
    position: absolute;
    right: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
// International Telephone Input
.iti.iti--allow-dropdown {
    width: 100%;
}
.iti__selected-flag {
    background: transparent!important;
    padding: 0;
}
.iti__arrow--up {
    border-bottom-color: #ffffff;
}
.iti__arrow {
    border-top-color: #ffffff;
}
.iti__country-list, .iti__flag-container {
    width: 100%;
}
.iti__flag {background-image: url("../assets/images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("../assets/images/flags@2x.png");}
}
// FOOTER
.footer {
    padding: 60px 0 16px 0;
    border-top: 1px solid #ffffff;
    .button {
        border: none;
        padding-left: 0;
        &__label {
            font-size: 22px;
            margin-right: 15px;
        }
    }
}
.footer-wrapper {
    max-width: 695px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copyright {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    width: 100%;
    padding-top: 30px;
    line-height: 1.5;
}
@import 'theme/grid';

/* = MEDIA = */
@media (orientation: landscape) and (max-width: 992px) {
    .skr4t-start {
      bottom: 5px !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
    .skr4t-start__text {
      text-align: center !important; 
    } 
  }
  @media screen and (max-width:1400px){
    // VIDEO SWIPER
    .swiper-1 {
      .swiper-slide {
        padding-right: 75px;
      }
      .swiper-button-prev{
          width: 50px;
          height: 50px;
          left: 20px;
          &::after {
              height: 9px;
              width: 24px;
          }
      }
      .swiper-button-next{
          width: 50px;
          height: 50px;
          right: 20px;
          &::after {
              height: 9px;
              width: 24px;
          }
      }
    }
    .after-description {
      max-width: 65%;
      .button {
        padding: 10px 5px;
      }
      .button__label {
        font-size: 16px;
      }
    }
    .after-description__title {
      margin-bottom: 15px;
      font-size: 1.45vw;
    }
    .after-description__item {
      font-size: 1.35vw;
      &:before{
        top: 4px;
      }
    }
  }
  @media screen and (max-width:1200px){
    .skr4t-information__title {
      font-size: 16px;
    }
    .skr4t-information__subtitle {
      font-size: 90px;
    }
    .skr4t-start__text {
      font-size: 16px;
    }
    .text {
      font-size: 30px;
    }
    .description {
      padding-top: 50px;
    }
    .author__title {
      font-size: 90px;
      margin-bottom: 0;
    }
    .description-schema {
      margin-bottom: 100px;
    }
    .description-whom__title {
      font-size: 30px;
      margin-bottom: 75px;
      text-align: center;
    }
    .description-whom-item__label{ 
      font-size: 24px;
    }
    .description-whom-item {
      padding-bottom: 50px;
    }
    .description-whom-item__text {
      font-size: 16px;
    }
    .author-description {
      margin-bottom: 50px;
    }
    .author-description__photo {
      height: 600px;
    }
    .author-description-wrapper__text {
      margin-bottom: 25px;
    }
    .author-description-wrapper__background {
      font-size: 30px;
    }
    .after__title {
      font-size: 90px;
    }
    .registration__title{
      font-size: 90px;
    }
  }
  @media screen and (max-width:992px){
    .header-navigation {
      padding-left: 15px;
      padding-right: 15px;
    }
    .text {
      max-width: 100%;
      br {
        display: none;
      }
    }
    .text__title {
      display: block;
      width: inherit;
    }
    .description-schema-image {
      height: 200px;
      margin-right: 50px;
    }
    .author .text {
      margin-bottom: 25px;
    }
    .author__title {
      font-size: 75px;
    }
    .author-wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .author-description {
      flex-direction: column;
      align-items: center;
    }
    .author-description__photo {
      margin-bottom: 25px;
      height: 350px;
      width: 350px;
      border-radius: 50%;
      object-position: top;
    }
    .author-description-wrapper {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .button {
        margin-top: 25px;
      }
    }
    .author-description-wrapper__name {
      margin-bottom: 20px;
    }
    .author-description-wrapper__text {
      text-align: left;
      margin-bottom: 10px;
    }
    .author-description-wrapper__background {
      margin-bottom: 10px;
      &.bg-1 {
        align-self: flex-start;
      }
      &.bg-2 {
        align-self: center;
      }
    }
    .video {
      background: transparent;
      height: 380px;
      width: 90%;
      margin: 0 auto;
    }
    .after__title {
      font-size: 75px;
    }
    .registration {
      margin-bottom: 50px;
    }
    .registration__title {
      font-size: 75px;
    }
    .registration-form {
      max-width: 468px;
    }
    .radio-wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 50px;
    }
    .custom-radio {
      width: 45%;
      &:nth-child(1) {
        margin-bottom: 10px;
      }
      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }
    .custom-radio .checkmark {
      font-size: 16px;
      width: 100%; 
    }
    // SWIPER VIDEO
    .swiper-1 {
      .swiper-slide {
        padding-left: 75px;
        padding-bottom: 10vw;
        padding-top: 10vw;
        &::before {
          background: rgba(0,0,0, .8);
        }
      }
    }
    .swiper-button-prev {
      top: 30px;
    }
    .swiper-button-next {
      top: 30px;
    }
    .after-description {
      padding-left: 10px;
      max-width: 100%;
      .button {
        padding: 10px 5px;
      }
      .button__label {
        font-size: 14px;
      }
    }
    .after-description__title {
      font-size: 16px;
    }
    .after-description__item {
      font-size: 14px;
    }
  }
  @media screen and (max-width:768px){
    .header-navigation {
      padding-top:10px;
      padding-bottom:10px;
      .button{
        padding:10px;
      }
      .button__label{ 
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .navigation-logo{
      font-size: 10px;
      span{
        font-size: 18px;
      }
    }
    .skr4t-information__title {
      font-size: 11px;
    }
    .skr4t-information__subtitle {
      font-size: 45px;
    }
    .skr4t-start{
      left: 0;
      right: inherit;
      bottom: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .skr4t-start__text {
      font-size: 14px;
      text-align: center;
    }
    .text {
      font-size: 24px;
    }
    .description {
      padding-top: 0;
      .text {
        margin-bottom: 25px;
      }
    }
    .description-schema{
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
    .description-schema-image{
      height: 200px;
      margin-right: 0;
      object-fit: inherit;
      margin-bottom: 25px;
    }
    .description-schema-text__details {
      margin-bottom: 15px;
    }
    .description-whom__title{
      padding-top: 25px;
      margin-bottom: 25px;
      font-size: 22px;
    }
    .description-whom-item__label{
      font-size: 18px;
    }
    .description-whom-item__text {
      font-size: 14px;
    }
    .author__title{
      font-size: 50px;
    }
    .author-description {
      margin-bottom: 15px;
    }
    .author-description__photo{
      height: 250px;
      width: 250px;
    }
    .after__title {
      font-size: 50px;
    }
    .video {
      height: 280px;
    }
    .registration {
      padding-left: 5px;
      padding-right: 5px;
      .button {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .button__label{
        font-size: 16px;
      }
    }
    .custom-radio .checkmark {
      height: 50px;
    }
    .registration__title{
      font-size: 50px;
    }
    .registration__subtitle{
      font-size: 20px;
      margin-bottom: 50px;
    }
    .field {
      margin-bottom: 40px;
    }
    .field__label{
      font-size: 18px;
    }
    .field__input{
      font-size: 16px;
    }
    .footer {
      padding: 25px 0 25px 0;
    }
    .footer-wrapper {
      justify-content: space-around;
      .button__label {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width:667px){}
  @media screen and (max-width:640px){}
  @media screen and (max-width:568px){
    .text {
      font-size: 18px;
    }
    .text__title {
      font-size: 12px;
    }
    .description{
      padding-bottom: 50px;
    }
    .description-schema-text__details{
      font-size: 14px;
      svg {
        transform: translateY(0);
      }
    }
    .description-schema-text__quotes{
      font-size: 16px;
    }
    .description-whom__title{
        font-size: 20px;
        text-align: center;
    }
    .author-wrapper{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .author__title {
      font-size: 40px;
    }
    .author-description-wrapper__background{
      font-size: 20px;
      span{
        font-size: 14px;
      }
    }
    .after{
      margin-bottom: 50px;
    }
    .video {
      width: 100%;
      height: 60vw;
    }
    .after__title{
      font-size: 40px;
    }
    .registration__title{
      font-size: 40px;
    }
    .registration__subtitle{
      font-size: 14px;
    }
  }
  @media screen and (max-width:480px){
    // SWIPER VIDEO
    .swiper-1 {
      .swiper-slide {
        padding-left: 0;
        padding-right: 0;
        padding-top: 15vw;
        padding-bottom: 15vw;
      }
      .swiper-button-prev{
        width: 35px;
        height: 35px;
      }
      .swiper-button-next{
        width: 35px;
        height: 35px;
      }
    }
    .after-description__title{
      margin-bottom: 8px;
    }
    .after-description__item{
      padding-left: 13px;
      margin-bottom: 5px;
    }
    .after-description{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  @media screen and (max-width:414px){
    .description-whom-item {
      padding-bottom: 25px;
      border-width: 1px;
    }
    .description-whom-item__label{
      font-size: 16px;
    }
    .description-whom-item__text{
      font-size: 12px;
    }
  }
  @media screen and (max-width:380px){
    .skr4t-information__subtitle {
      font-size: 35px;
    }
  }
  @media screen and (max-width:360px){
    .skr4t-start__text{
      br {
        display: none;
      }
    }
  }
  @media screen and (max-width:320px){}
  /* = MEDIA END = */